# Staylive config - edit before each game, no need to touch the scripts
streamId=PASTE_URL_STREAMID_FROM_FROM_STAYLIVE_HERE
token=PASTE_JWT_HERE
adUrl=https://pubads.g.doubleclick.net/gampad/live/ads?iu=/34405621/bn/staylive/hockeyettan&description_url=https%3A%2F%2Flive.hockeyettan.se%2Fsv&tfcd=0&npa=0&sz=480x360%7C1920x1080&min_ad_duration=0&max_ad_duration=30000&gdfp_req=1&unviewed_position_start=1&output=vast&env=vp&impl=s&correlator=&vad_type=linear
